#modalLogin {
    background-color:rgba(44, 44, 46, 0.9) !important;
    box-shadow:2px 2px 40px 4px #A8A2FA;
    color: #A8A2FA;
    font-size: 18px;
    border-radius: 0px;
}

.login-link {
    color: #A8A2FA !important;
    font-size: 18px;
}

.login-link:hover {
    color: grey!important;
}

.title-menu{
    font-family: aldrich;
    color: #847BF6;
	font-size: 22px;
	padding-top: 800px;
    padding-left: 640px;
	line-height: 1;
}

body {
	font-family: Aldrich;
    overflow-x: hidden;
}

.navbar-inverse {
	background-color: #2C2C2E;
	border: none;
	font-style: bold;
    text-align: center;
}

.navbar-nav>li>a {
	font-size: 0.85em;
	letter-spacing: 0.15em;
	color: white;
	width:70px; /* O Width comanda espaçamento entre "início sobre e contato" do lado da barra de pesquisa */
}

.navbar-brand {
	font-size: 32px;
	color: #847BF6 !important;
}

.search-btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: white;
    height: 34px;
    right: 39px;
    background-color: #A8A2FA;
    border-color: #A8A2FA;
}

.search-btn:hover {
    background-color: #847BF6;
	border-color: #847BF6;
	color: white;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #847BF6;
	color: white;
}

.navbar-inverse .navbar-nav>.open>a {
	opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.content {
    text-align: justify;
}

.destaque-container {
    margin-bottom: 50px;
}

.nav-login {
    padding:2px;
    margin-top:8px;
    margin-bottom:8px;
    color:847BF6;
    height:34px;
}

/* Botões */
#nav-btn-login {
	background-color: #2C2C2E;
	border-color: #847BF6;
	border-width: 2px;
	color: white;
	font-size: 0.85em;
	letter-spacing: 0.35em;
	opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;           
    padding: 7px 17px;
}

#nav-btn-login:hover {
	background-color: white;
	color: #5D5D5D;
}

.btn-primary {
	background-color: #A8A2FA;
	border-color: #A8A2FA;
    font-size: 16px;
}

.btn-form {
    font-size: 16px;
    background-color: #A8A2FA;
    color: white !important;
}

.btn-form:hover {
    font-size: 16px;
	background-color: #847BF6 !important;
	border-color: #A8A2FA;
	color: white !important;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-form:active {
    font-size: 16px;
	background-color: #847BF6 !important;
	border-color: #A8A2FA;
	color: white !important;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn-primary:hover {
	background-color: white;
	border: white;
	color: #A8A2FA;
}

.btn-secondary {
    border: 2px solid #A8A2FA;
    font-size: 16px;
    color: #A8A2FA;
}

.btn-secondary:hover {
    border-color: #847BF6;
    background-color: #C9C9CA;
    font-size: 16px;
    color: #847BF6;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.btn-block:hover {
	background-color: #847BF6;
	border-color: #847BF6;
	color: white;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* Ícones */
.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: #A8A2FA;
}

.fa-angle-double-down {
	color: #A8A2FA;
}

.fa-5x {
	font-size: 8em !important;
}

.glyphicon-map-marker, .fa .fa-phone {
	font-size: 22px;
}

.glyphicon-search {
    color: white;
    font-size: 18px;
}

.fa-map-pin {
    margin:10px 16px;
}

.phone-contact {
    margin:10px 12px;
}

#fa-envelope-contact {
    margin: 7px 10px;
}

.card-icon {
    width:64px;
    height:64px;
    background-color:grey;
    color:lightgrey;
    text-align: center;
    padding-top: 10px;
}

.pull-right:hover, .pull-right-media:hover {
    color: #A8A2FA;
    transition: all 0.2s;
}

.form-control:focus + .form-control-feedback {
    transition: all 0.4s;
    color: #847BF6 !important;
}

/* Heading */
.heading-index {
    text-align:center;
    background:#f6f6f6;
    padding: 20px;
    color:#847BF6;
}

/* Carousel */
.item {
  height: 60vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators li {
	border-color: #A8A2FA;
}

.carousel-indicators li.active {
	border-color: ;
	background-color: #A8A2FA;
}

.carousel-caption h1 {
	color: white;
}

.servicos {
	text-align: center;
	color: white;
	padding-top:40px;
}

.services-container {
	background-color: #847BF6;
}

.services-row {
	margin-top: 50px; 
	padding-bottom: 60px;
}

/* CONTATO */

a:hover,
a:focus {
    text-decoration: none;
    color: #26a5d3;
}

#contact {
    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;
}

textarea.form-control {
    height: 100px;
}


/* PARALLAX */
#parallaxIndex {
    height:160px;
    background-color:#004c82;
    background: url(../img/photo.jpg) 50% 0 fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

#parallaxFooter {
    height:300px;
    background-color:#004c82;
    background: url(../img/aurora2.jpg) 50% 0 fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-content {
    background-color: rgba(0, 0, 0, 0.2) !important;
    height:300px;
}

#parallaxHead {
    height:240px;
    background-color:#004c82;
    background: url(../img/innerhead2.jpg) 50% 0 fixed;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative; 
    padding: 140px 0 50px 0;
}

#parallaxHead i {
    float: left;
    color: white;
    width: 47px;
    height: 47px;
    margin: 7px 20px 0 0;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    line-height: 42px;
}

#parallaxUser{
    height:190px;
    background-color:#004c82;
    background: url(../img/innerhead2.jpg) 50% 0 fixed;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative; 
    padding: 90px 0 50px 0;
}

#parallaxUser i {
    float: left;
    color: white;
    width: 47px;
    height: 47px;
    margin: 7px 20px 0 0;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
    font-size: 24px;
    line-height: 42px;
}

.breadcrumb {
    padding: 0px;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: white;   
    float: left;
}

.breadcrumb>li+li:before {
    content: "|";
}

.breadcrumb a:link {
    color: white;
}

.breadcrumb a:visited {
    color: white;
}

.breadcrumb a:hover {
    color: #847BF6;
}


.breadcrumb a:active {
    color: #4336E1;
}

.active-breadcrumb {
    color: #847BF6;
    font-size: 15px;

}
/* Form */
.form-block {
    width: 70%;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    display: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}

.form-control {
	border: none;
	width: 100%;
	font-size: 15px;
    border-radius: 2px;
}

.search-form {
    width: 93% !important;
    right: 40px;
}

#form-contato {
    margin-right:60px;
    margin-left:60px;
}

.form-group-lg .form-control {
    font-size: 15px;
}


.form-page {
    border:1px solid #d9d9d9;
    width: 100%;
    
}

.form-horizontal {
    font-family: Montserrat;
}

.form-control-feedback {
    line-height: 34px !important;
    text-align: center;
    pointer-events: none;
    color: grey;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #A8A2FA;
    transition: all 0.4s;
}

/* Sidebar */

.sidebar {
    display: none;
}

.sidebar-brand {
    background: #A8A2FA;
    font-family: Aldrich !important;
    color: white !important;
}

.sidebar-brand:hover {
    background-color: #A8A2FA !important;
    color: white;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 280px;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: grey;
    font-family: rajdhani;
    font-size: 16px;
}

.nav-sidebar > li > a:hover {
    color: #fff;
    background-color: lightgrey;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #847BF6;
}

.main {
    padding: 0px 20px 20px 20px;
}
    
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
    
.main .page-header {
    margin-top: 0;
}

/* Card */
.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border: solid lightgrey;
    color: #444444;
    border:1px solid lightgrey;
}

.card-container {
	width: 100%;
	border-radius: 1px;
    margin-top: 20px;
    border:1px solid lightgrey;
}

.card-dados-container {
	width: 100%;
	border-radius: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    border:1px solid lightgrey;
    padding-left: 20px;
}

.card-heading {
    display: inline-block;
}

.card .cover{
    height: 185px;
    overflow: hidden;

}

.pull-right {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.pull-right-cover {
    position: relative;
    float: right;
    right: 30px;
    top: 30px;
    display: flex;
}

.card .cover img{
    width: 100%;
}

.card .user{
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 150px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding-top:10px;
}
.card .content .main {
    min-height: 120px;
}

.card .name {
    font-size: 27px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card .profession{
    color: #999999;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    font-family: rajdhani;
}

.corp {
    display: inline-block;
    color: #999999;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    font-family: rajdhani;
}

.local {
    text-align: center;
    font-family: Montserrat;
}

.img-circle {
    border-radius: 50%;
    vertical-align: middle;
}

/* Perfil Minha Página */
.media-heading {
    font-size: 20px;
    font-family: rajdhani;
    font-weight: bold;
    letter-spacing: 2;
    display: inline-block;
}

.media-primary {
    margin: 0px 0px 4px 0px;
    font-family: rajdhani;
    font-size: 16px;
}

.media-secondary {
    margin: 5px 0px 0px 0px;
    font-family: rajdhani;
    font-size: 14px;
}

.media-desc {
    font-family: ROBOTO;
    font-size: 14px;
    padding-top: 10px;
}

.media {
    margin-top: 30px;
}

.pull-right-media {
    margin-bottom: 10px;
    margin-right: 30px;
    float: right;
}

/* Nav-tabs */
.nav-tabs {
    margin-top: 20px;
}

.nav-tabs > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: grey;
    font-family: rajdhani;
    font-size: 16px;
}

.nav-tabs > li > a:hover {
    color: #fff;
    background-color: lightgrey;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #fff !important;
    background-color: #847BF6 !important;
}


/* Footer */

footer {
    background-color: #222;
    color: grey;
    padding-bottom: 50px;
}

.icon-square {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px !important;
    color: grey;

}

.icon-square:hover {
    background-color: #A8A2FA;
    transition: all 0.4s;
    color: white;
}

.icon-link {
    color: #A8A2FA !important;
}

.footerAccess {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
}

.footer-link {
    color: grey !important;

}

.footer-link:hover {
    color: #A8A2FA !important;
    text-decoration: none;
}

.footer-user {
    padding:10px;
    background-color: white;
    color: black;
    font-family: Aldrich;
    text-align:center;
}

/* Vagas */

.icon-square-vagas {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px !important;
    color: grey;
}

.icon-square-vagas:hover {
    background-color: #A8A2FA;
    transition: all 0.4s;
    color: white;
}

.card-vagas {
    background: none repeat scroll 0 0 #FFFFFF;
    border: solid lightgrey;
    color: #444444;
    border:1px solid lightgrey;
    margin: 10px 0px 20px 0px;
}

.card-vagas .cover{
    height: 185px;
    overflow: hidden;

}

.card-vagas .cover img{
    width: 100%;
}

.card-vagas .user{
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 150px;
}
.card-vagas .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card-vagas .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding-top:10px;
}
.card-vagas .content .main {
    min-height: 120px;
}

.card-vagas .name {
    font-size: 27px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card-vagas .profession{
    color: #999999;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    font-family: rajdhani;
}

.bottom {
    text-align: center;
    margin-bottom: 10px;
}

/* LOGIN */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}

/* LOJA */

.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

/* CARRINO */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
    
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
    
    
    
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
    
}