.contrast,
.contrast .navbar-default,
.contrast header,
.contrast section,
.contrast main,
.contrast aside,
.contrast nav,
.contrast article {
	background:  #222 !important;
	color:  white !important;
}

.contrast footer {
	background:  #6B6B6B !important;
	color:  white !important;
}

.contrast .nav-pills>li>a:hover {
	color: black !important;
}

.contrast .nav-pills>li.active>a {
	color: white !important;
}

.contrast form,
.contrast .navbar-inverse {
	background:  #4C4D4D !important;
	color:  white !important;
}

.contrast .navbar-nav>.active>a {
	background:  #EEEEEE !important;
	color: black !important;	
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,

.contrast a {
	color:  white !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
	background:  #222 !important;
	color: #A7A7A7 !important;
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast select,
.contrast input[type=number] {
	background: #222 !important;
	border:  1px solid white !important;
	color:  white !important;
}

.contrast img.on-contrast-force-gray {
	filter:  grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
	filter:  brightness(0) invert(1);
}

.contrast .pagination>.active>a, 
.contrast .pagination>.active>a:focus, 
.contrast .pagination>.active>a:hover, 
.contrast .pagination>.active>span, 
.contrast .pagination>.active>span:focus,
.contrast .pagination>.active>span:hover {
    background-color: #EEEEEE !important;
    color: #222 !important; 
    border-color: white !important;
}

.contrast .pagination a, 
.contrast .pagination span {
    background-color: #222 !important;
    color: white !important;
    border-color: white !important;
}

.contrast .pagination a:hover,
.contrast .pagination a:focus, 
.contrast .pagination span:hover,
.contrast .pagination span:focus {
	background-color: #6B6B6B !important;
	border-color: white !important;
	color: white !important;
}

.contrast .glyphicon.glyphicon-shopping-cart {
	color: black !important;
}

.contrast a.btn.btn-default {
	color: black !important;
}

.contrast .btn.btn-secondary {
	background-color: white !important;
	color: black !important;
}

.contrast .btn.btn-secondary:hover, .contrast a.btn.btn-default:hover {
	background-color: #A7A7A7 !important;
	border-color: #A7A7A7 !important;
	color: white !important;
}